/* Los estilos de tu proyecto */


#content {
  background: url("../assets/images/taxi.jpg");
  /* border: 1px solid blue; */
  height: 100vh;

}
#cont-bg{
  background: url("../assets/images/conduce.jpg");
  height: 50vh;
}
